[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django = "*"
pytest = "*"
pytest-django = "*"
pytest-isort = "*"
pytest-flake8 = "*"
pytest-env = "*"
pytest-pythonpath = "*"

[packages]
django = "*"
dj-database-url = "*"
python-decouple = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
