<!DOCTYPE html><!-- {% load disguise_tags i18n %} -->
<html>
<head>
  <title>django-disguise demo site</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-secondary border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
      <a class="btn btn-outline-white" href="/">django-disguise</a>
    </h5>
    {% include 'theater-masks-solid.svg' %}
    {% if request.user.is_authenticated %}
      Hi, {{ request.user }}.
      <a class="btn btn-outline-white" href="{% url 'logout' %}">{{ _('sign out') }}</a>
    {% else %}
      <a class="btn btn-outline-white" href="{% url 'login' %}">{{ _('sign in') }}</a>
    {% endif %}
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% include 'github.html' %}
  </div>
  <div class="container">
    {% for message in messages %}
      <div class="alert alert-success {{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </div>
  <div>
    <p class="text-muted">
      <small>
        Icons powered by font awesome &blacksquare; github icon by <a href="https://github.com/tholman/github-corners">Tim Holman</a>
      </small>
    </p>
  </div>
</body>
</html>
